*{
    margin:0;
    padding:0;
}
.goods {
    position: relative;
    font-family: PingFang SC,Microsoft YaHei,sans-serif,Arial;
    background: #fff;
}
.goods-navbar{
    display:flex;
    justify-content:space-between;
    margin-top:15px;
}
.nav-items{
    display:flex;
    justify-content:space-around;
    margin-right:480px;
    font-family: "PingFang SC","Microsoft YaHei",sans-serif,Arial;
    font-size:14px;
    color:#9B9B9B;

}
.nav-title{
    margin-left:280px;
    font-size:14px;
    color:#000000;
    font-family: "PingFang SC","Microsoft YaHei",sans-serif,Arial;
    font-weight: bold;

}
.item2{
    margin-right:50px;
    margin-left:70px;
    
}
.item3{
    margin-right:-100px;
}  
.goods-color {
    width: 0.24rem;
    height: 0.24rem;
    border-radius: 0.24rem;
    margin-right: 0.1rem;
}
.heading{
    font-weight:bold;
    font-size:24px;
    font-family:"PingFang SC","Microsoft YaHei",sans-serif,Arial;
}
.red-price{
    color:#FE122F;
    margin-top:10px;
}
.button-1{
background:#FFC915;
width:44px;
height:20px;
color:blcak;
font-size:14px;
border-radius: 4px;

}
.button1{
    display:flex;
    margin-top:10px;
}
.button-2{
background:#fff4db;
width:89px;
height:20px;
color:#947434;
font-size:14px;
border-radius: 4px;
margin-left:10px;
}
.ullist-1{
    list-style-type: disc;
    line-height:2;
    margin-top:10px;
}
.fa-solid{
    color:linear-gradient(328deg, rgb(127, 192, 191) 0px, rgb(124, 203, 198) 100%);
}
.icon-1{
    width:255px;
    height:52px;
    border:1px solid black;
    color:black;
    margin-top:10px;
    border-radius:3px;
    font-size:14px;
    margin-right:25px;
    
}

.icon-2{
    width:255px;
    height:52px;
    background:#F9F9F9;
    color:black;
    margin-top:10px;
    border-radius:3px;
    font-size:14px;
    
}
.color-box-flex{
display:flex;
margin-right:15px;
}
.color-box h3{
font-size:16px;
color:black;
font-weight: bold;
margin-top:15px;
border-radius:8px;
}
.storage-box h3{
font-size:16px;
color:black;
font-weight: bold;
margin-top:15px;
border-radius:8px;
}
.button-3{
    width:255px;
    height:52px;
    color:black;
    margin-top:10px;
    border-radius:3px;
    font-size:14px;
    border:1px solid black;
}
.Quantity h3{
    font-size:16px;
    color:black;
    font-weight: bold;
    margin-top:15px;
    border-radius:9px;
}
.button-4{
    width:148px;
    height:48px;
    color:black;
    margin-top:10px;
    border-radius:0.24rem;
    font-size:14px;
    background:#F9F9F9;
}
.realme-card{
width:520px;
height:270px;
background:#f9f9f9;
padding-bottom:0.16rem;
border-radius:0.08rem;
margin-top:20px;
}
.header-card{
    background:black;
    height:48px;
    background-image: url(https://r2.realme.net/img/ic_realme_care.d81b8f81.svg);
    background-repeat: no-repeat;
}
.content-text{
    font-size:14px;
    color:#FFF;
    opacity:.3;
    margin-left:390px;
}
.main-text img{
    width:36px;
    height:36px;

    
}
.details-text,.price-text{
    font-size:14px;
    color:black;
    font-weight:bold;
}
.price-text-button{
    width:72px;
    height:20px;
    background:#FFEDEC;
    color:#FC4035;
    font-size:14px;
    font-weight:bold;

}
.inside-card-1{
    display:flex;
    width:500px;
    height:48px;
    background:white;
}
.inside-card-2{
    display:flex;
    width:500px;
    height:48px;
    background:white;
}
.inside-card-3{
    display:flex;
    width:500px;
    height:48px;
    background:white;
}
.main-text{
display:flex;
justify-content: space-around;

}
.price-text{
    margin-left:140px;
}
.chechbox-text img{
width:16px;
height:16px;
}
.chechbox-text{
font-size:12px;
color:#666666;
}
.checkbox-flex{
    display:flex;
}
.pp1{
    margin-left:40px;
}
.pp2{
    margin-left:48px;
}
.pp3{
    margin-left:42px;
}
.pt-1{
    margin-right:-10px;
}
.pt-2{
    margin-right:-33px;
}
.pt-3{
    margin-right:-10px;
}
.details-text span{
    margin-left:40px;

}
.pincode h3{
 font-size:16px;
 font-weight:bold;
 color:black;
 margin-top:20px;
}
.pincode input{
    width:300px;
    height:40px;
    border:1px solid grey;

}
.pincode-button{
    width:130px;
    height:25px;
    border-radius:10px;
    color:white;
    background-color: black;
    margin-left:20px;
    margin-top:15px;

}
form{
    display:flex;
    margin-top:15px;
}
.side-images{
    display:flex;
    margin-top:15px;
}
.first-div{
    display:flex;
    margin-top:35px;
    justify-content: center;
}
.details-part{
    margin-left:150px;
    overflow-y: auto;
    height:650px;
    z-index:1;
    
}
.details-part::-webkit-scrollbar {
    display: none;
}
.image-1{
    border-radius:10px;
}
.image-2{
    border-radius:10px;
}
.image-price{
    color:#FE122F;
    font-size:14px;
    font-weight: bold;
    margin-left:35px;
}
.each-image h3{
color:black;
font-size:16px;
font-weight:bold;
}
.carousel-images{
    display:flex;
    margin-top:20px;
    margin-left:290px;
    justify-content: space-between;
    overflow-x: auto;
    margin-right:180px;
    margin-bottom:60px;
}
.carousel-images::-webkit-scrollbar {
    display: none;
}
.text-rec h3{
color:black;
font-size:18px;
font-weight:bold;
margin-top:50px;
margin-left:280px;
}
.t-1{
    font-size:14px;
    color:black;
}
.t-2{
    font-size:14px;
    color:#9B9B9B;
    margin-left:20px;
}
.text-nav{
    display:flex;
    margin-top:20px;
    margin-left:280px;
    margin-bottom:30px;

}
.second-div{
    background:#f4f4f5;
    padding-bottom:.4rem;
    height:18539px;
    width:100%;
}
.images-card{
    width:1200px;
    height:auto;
    background:white;
    height:18520px;
    margin-left:280px;
    margin-top:40px;
}