*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    
    font-family: OpenSans-Regular,"PingFang SC","Microsoft YaHei",sans-serif,Arial;
}
/* .back{
    background-image: url("t300.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
} */
.main-img{
    width: 460px;
    height: 460px;
    vertical-align: middle;
    /* margin: 0 auto 0 30px; */
    margin: 0 auto;
    background-position: fixed;

}
.vip a{
    color: blue;
    text-decoration: underline;
}
section{
    padding-bottom: 80px;
}
.price{
    color: red;
    font-weight: 900;
}
button::before{
    background: linear-gradient(329deg, rgb(251, 237, 210) 0px, rgb(255, 136, 54) 100%);
}