.how .how-works {
    display: none;
    position: absolute;
    top: 11vh;  /* 312px;*/
    width: fit-content;
    z-index: 10;
}

.how-works .navigation-up-arrow {
    background-position: -55px -694px;
    display: block;
    height: 12px;
    position: absolute;
    text-indent: -9999px;
    top: -12px;
    width: 39px;
}
.navigation-up-arrow
{
    background-image: url("/images/neg/neg-home-sprite2.png");
    overflow: hidden;
}

.how h7 {
    font-weight:13px;    
}

.how:hover .how-works {
    display: block;
}

.how .how-works.bubble-outer {
    background: #fff;
    border: 3px solid #D8D8D8;    
    border-radius: 5px;
    font-size: 0.9375em; /* 18px/19.2 */    
    padding: 15px;
    box-shadow: 2px 2px 0 #ACACAC;
}

.how .how-works .bubble-inner {
    background: #f7f7f7;
    border-color: #dbdbdb #e9e9e9 #f2f2f2;
    border-bottom-width: 3px;
    font-size: 0.9375em; /* 18px/19.2 */    
    padding: 15px 5px 15px 30px;
}

.how .how-works h4,
.how .how-works em {
    color: #fd7600;
}

.how .how-works h4 {
    margin: 0 0 .75em;
    text-align: center;
}

.how .how-works li {
    font-size: 12px;
    margin-top: 8px;
}

.how .how-works em {
    font-style: normal;
    font-weight: bold;
}

.how-works .bold-txt {
    font-weight: bold;
}